Detail
<table class="table table-striped">
<tr>
<td>Code Formation </td>
<td> {{formation.codeFormation}}</td>
</tr>
<tr>
<td>Nom Formation </td>
<td> {{formation.nomFormation}}</td>
</tr>
<tr>
<td>Type de diplome </td>
<td> {{formation.diplome}}</td>
</tr>
<tr>
<td>Double Diplomation </td>
<td> {{formation.estUnDoubleDiplome}}</td>
</tr>
<tr>
<td>Nombre d'annee</td>
<td> {{formation.nombreDAnnee}}</td>
</tr>
<tr>
<td>Debut d'accreditation</td>
<td> {{formation.debutAccreditation}}</td>
</tr>
<tr>
<td>Fin d'accreditation</td>
<td> {{formation.finAccreditation}}</td>
</tr>
</table>