<form role="form">

							<div class="form-group">
                                <label>Code de la Formation</label>
                                <input ng-model="formation.codeFormation" class="form-control" disabled>
                            </div>
                            <div class="form-group">
                                <label>Nom de la Formation</label>
                                <input ng-model="formation.nomFormation" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>No d'Annee</label>
                                <input ng-model="formation.nombreDAnnee" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Est un Double diplome?</label>
                                <input ng-model="formation.estUnDoubleDiplome" class="form-control">
                                    
                                
                            </div>
                            <div class="form-group">
                                <label>Debut d'accreditation</label>
                                <input ng-model="formation.debutAccreditation" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Fin d'accreditation</label>
                                <input  ng-model="formation.finAccreditation" class="form-control">
                            </div>
							<button type="button" class="btn btn-primary" ng-click="modifierFormation()">Modifier</button>


</form>